@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  all: unset;
  outline: none;
}

select::-ms-expand {
  display: none;
}

select {
  @apply font-bold text-md text-end dark:text-neutral-100;
}